body {
    padding: 16px 32px;
}

#top {
    width: auto;
    margin-bottom: 16px;
}

#top * {
    display: inline-block;
    vertical-align: middle;
}

#logo {
    width: 128px;
    margin-right: 24px;
}

#title {
    font-size: 2.5em;
}

#category {
    margin-top: -0.6em;
    font-size: 1.5em;
}

#bottom {
    height: 544px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#bottom > div {
    vertical-align: top;
}

#video-place {
    background-color: rgba(32, 64, 128, 50%);
    height: 544px;
    width: calc(544px / 3 * 4);
    display: inline-block;
}

#side {
    width: 280px;
    height: 544px;
    margin-left: auto;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
}

#side p {
    display: block;
    position: relative;
}

.label {
    font-size: 1.2em;
    text-align: left;
}

#runner-info {
    width: 100%;
}

#runner-name {
    font-size: 2em;
}

#runner-id {
    font-size: 1.2em;
    border-bottom: 2px solid white;
    margin-top: -0.6em;
}

#time-info {
    margin-top: auto;
    width: 100%;
    bottom: 0;
}

.time {
    text-align: center;
    border-bottom: 2px solid white;
}

#timer {
    font-size: 3.6em;
}

#est-label {
    margin-top: 1em;
}

#est {
    font-size: 2.8em;
}
